<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="header-bar">
                <div class="left-entry">
                    <a href="https://www.bilibili.com">首页</a>
                    <a href="https://www.bilibili.com">课程</a>
                    <a href="https://www.bilibili.com">问答</a>
                    <a href="https://www.bilibili.com">小组</a>
                </div>
            </div>
            <div class="header-inner">
                <div class="banner">
                    <div id="app">loading...</div>
                </div>
                <div class="banner-inner">
                    <a href="https://www.bilibili.com/" class="inner-logo">
                        <span class="logo-text">Unicourse</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height: 1000px; background-color: #1199a3;">

        </div>
    </div>
    <!-- <br /><br />
    <div id="selectBox"></div>
    <br /><br /> -->
  </body>

  <!-- <script type="module">
    import barnersData from "./config.js";
    const selectBox = document.getElementById("selectBox");
    for (let i = 0; i < barnersData.length; i++) {
      const element = barnersData[i];
      const btn = document.createElement("button");
      btn.id = i;
      btn.innerText = barnersData[i].name;
      selectBox.appendChild(btn);
    }
  </script> -->
  <script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
  <script>
    window.addEventListener('scroll', function() {
        const headerBar = document.querySelector('.header-bar');
        
        if (window.scrollY > 50) {  // 滚动超过50px时
            headerBar.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';  // 半透明黑色背景
            headerBar.style.backdropFilter = 'blur(5px)';  // 毛玻璃效果
        } else {  // 回到顶部时
            headerBar.style.backgroundColor = 'transparent';
            headerBar.style.backdropFilter = 'none';
        }
    });
  </script>
  <!-- <script>
    const scriptSrc = `./index.js?r=${Math.floor(Math.random() * 100)}`;
    const scriptElement = document.createElement("script");
    scriptElement.type = "module";
    scriptElement.src = scriptSrc;
    document.body.appendChild(scriptElement);
  </script> -->
</html>