<html>
  <head>
    {% set title = "KawaiiBot#0769" %}
    {% set desc = "A kawaii bot that makes your server more kawaii!" %}
    {% include "_head.html" %}
  </head>
  <body class="dark-theme github">
    <section class="container">
    <div class="nav-top">
        <div class="nav-right">
            <a href="/login" class="nav-link">登录</a>
            <span class="separator">|</span>
            <a href="/register" class="nav-link">注册</a>
        </div>
    </div>

    <div class="me unset">
      <img draggable="false" src="../static/img/Ulogo.png" class="image-title">
      <div class="unset">
        <h1 class="title">Unicourse</h1>
        <p class="undertitle italic">让教学变得简单有趣</p>
      </div>
    </div>

    <div class="buttons move-bottom-stuff-yes">
      <a href="https://discord.com/oauth2/authorize?client_id=195244341038546948&scope=bot+applications.commands" class="btn emerald-dropshadow white-text hover" target="_blank">Invite me 💖</a>
      <a href="/commands" class="btn emerald-dropshadow white-text hover" target="_blank">Commands</a>
      <a href="https://discord.gg/wGwgWJW" class="btn discord-dropshadow white-text hover" target="_blank">Discord</a>
      <a href="https://github.com/KawaiiBot" class="btn github-dropshadow white-text hover" target="_blank">GitHub</a>
    </div>

    <div class="flex-grid branding-grid">
      <div class="col-xs-6">
        <div class="img-container">
            <img src="../static/img/root_image_1.png" class="center">
        </div>
      </div>
      <div class="col-xs-6">
        <h2 class="title">关于Unicourse</h2>
        <p class="text">
            UniCourse 于2013年9月上线、2014年4月改版、2016年4月4日完成新一轮系统升级，
            是在中国人民大学信息学院和全国大学生创新实验计划国家级立项支持下、
            由中国人民大学信息学院学生建立的课程辅助学习平台。我们相信普通大学教育能够在互联网的辅助下，
            改变传统课堂中知识仅从老师单向流向学生的状况，实现教学合一。用户可以充分发挥同伴互助精神，
            在UniCourse中分享、讨论、消化、积累知识。同时，移动终端也会让学习变成简单而有趣的过程。
            UniCourse团队5位初创成员均为中国人民大学信息学院2011级本科生。
            我们相信平等开放的互联网精神能够为每一位用户带来更好的教学体验。我们在行动，
            也希望每一位有观点的你能够帮助我们成长。
            请将您对UniCourse的任何意见或建议发送至unicourse@163.com，感谢您的关注！
        </p>
      </div>
    </div>

    <div class="flex-grid branding-grid">
      <div class="col-xs-6">
        <div class="img-container">
            <img src="../static/img/root_image_2.png" class="center">
        </div>
      </div>
      <div class="col-xs-6">
        <h2 class="title">Agent助手</h2>
        <p class="text">
            UniCourse 于2013年9月上线、2014年4月改版、2016年4月4日完成新一轮系统升级，
            是在中国人民大学信息学院和全国大学生创新实验计划国家级立项支持下、
            由中国人民大学信息学院学生建立的课程辅助学习平台。我们相信普通大学教育能够在互联网的辅助下，
            改变传统课堂中知识仅从老师单向流向学生的状况，实现教学合一。用户可以充分发挥同伴互助精神，
            在UniCourse中分享、讨论、消化、积累知识。同时，移动终端也会让学习变成简单而有趣的过程。
            UniCourse团队5位初创成员均为中国人民大学信息学院2011级本科生。
            我们相信平等开放的互联网精神能够为每一位用户带来更好的教学体验。我们在行动，
            也希望每一位有观点的你能够帮助我们成长。
            请将您对UniCourse的任何意见或建议发送至unicourse@163.com，感谢您的关注！
        </p>
      </div>
    </div>

    <footer class="box-container secondary-dropshadow">
      <div class="flex-grid">
        <div class="col-xs-6 text-left">
          <a class="white-text" href="/privacy" target="_blank">Privacy Policy</a>
        </div>
        <div class="col-xs-6 text-right">
          <a class="white-text" href="/terms" target="_blank">Terms of Service</a>
        </div>
      </div>
    </footer>

    </section>
  </body>
</html>